@keyframes toggleAnimDark {
  from {
    left: 50%;
  }
  to {
    left: 100%;
  }
}
@keyframes toggleAnimLight {
  from {
    left: 100%;
  }
  to {
    left: 50%;
  }
}
:root {
  --background-color: #f6f2e9;
  --app-color: #fff;
  --main-color: #000;
  --box-shadow: #808080;
  --error-color: #593333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-family: "Barlow", sans-serif;
  background-color: var(--background-color);
}

.light-icon,
.dark-icon,
.weather-panel-sun-rise-icon,
.weather-panel-sun-set-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.25em;
  height: 0.75em;
  width: 0.75em;
}

.wrapper {
  margin: 0.5em;
  margin-top: 2.5em;
  padding: 1em;
  width: 90%;
  max-width: 400px;
  height: 550px;
  font-size: 3rem;
  color: var(--main-color);
  background-color: var(--app-color);
  border-radius: 0.5em;
  box-shadow: 0 0 0.5em var(--box-shadow);
}

.error {
  margin-bottom: 1em;
  color: var(--error-color);
}

.weather-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
}
.weather-panel-main {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
}
.weather-panel-main-appname {
  font-size: 1.5rem;
}
.weather-panel-main-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1em;
}
.weather-panel-main-toggle-btn {
  position: relative;
  padding: 0.125em 2em;
  width: 1em;
  height: 1.5em;
  background: none;
  border: 0.125em solid var(--main-color);
  border-radius: 1em;
  cursor: pointer;
}
.weather-panel-main-toggle-btn-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-150%, -50%);
  margin: 0;
  padding: 0.5em;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: var(--main-color);
  transition: left 0.3s;
}
.weather-panel-search {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 0.5em;
  width: 100%;
}
.weather-panel-search-input {
  font-size: 1.5rem;
  color: var(--main-color);
  background: none;
  border: none;
}
.weather-panel-btn {
  padding: 1em;
  color: var(--main-color);
  background: none;
  border: none;
  cursor: pointer;
}
.weather-panel-dateTime {
  margin-bottom: 0.5em;
  font-size: 1.5rem;
}
.weather-panel-city {
  margin-bottom: 0.5em;
  font-size: 2rem;
}
.weather-panel-temperature {
  font-size: 3rem;
}
.weather-panel-img {
  margin: 1em;
}
.weather-panel-img-pic {
  height: 4em;
}
.weather-panel-sun {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
  width: 100%;
  height: 100%;
  font-size: 1.25rem;
}
.weather-panel-sun-rise, .weather-panel-sun-set {
  display: flex;
  justify-content: center;
  align-items: center;
}
.weather-panel-sun-rise-icon, .weather-panel-sun-set-icon {
  margin-right: 0.5em;
}
.weather-panel-sun-rise {
  margin-right: 1em;
}
.weather-panel-sun-set {
  margin-left: 1em;
}
.weather-panel-forecast {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}
.weather-panel-forecast-info {
  text-align: center;
  margin: 0 0.5em;
}
.weather-panel-forecast-info-hour {
  margin-bottom: 0.5em;
  font-size: 0.75em;
}
.weather-panel-forecast-info-temp {
  margin-bottom: 0.5em;
  font-size: 1em;
}
.weather-panel-forecast-info-img-pic {
  height: 1.5em;
}

.active {
  transition: left 0.3s;
  animation: toggleAnimDark 0.3s forwards;
}

.non-active {
  transition: left 0.3s;
  animation: toggleAnimLight 0.3s forwards;
}

.weather-add {
  width: 100%;
  font-size: 1.5rem;
}
.weather-add-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.25em;
  width: 100%;
  height: 1em;
}
.weather-add-heading {
  font-size: 1.25rem;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  bottom: 0;
  left: 0;
  margin-top: auto;
  padding: 1em;
  width: 100%;
  height: 5em;
  font-size: 1.25rem;
  color: var(--main-color);
  background-color: var(--app-color);
}
.footer a {
  color: var(--main-color);
}
.footer p {
  margin-bottom: 0.5em;
}

@media (min-width: 481px) and (min-height: 768px) {
  .wrapper {
    margin-top: auto;
    height: 700px;
  }
  .weather-panel {
    font-size: 2rem;
  }
  .weather-panel-main-appname {
    font-size: 1.75rem;
  }
  .weather-panel-city {
    font-size: 2.5rem;
    margin-bottom: 1em;
  }
  .weather-panel-temperature {
    font-size: 4rem;
  }
  .weather-panel-search-input {
    font-size: 1.75rem;
  }
  .weather-panel-img-pic {
    height: 5em;
  }
  .weather-add {
    font-size: 2rem;
  }
  .weather-add-heading {
    font-size: 1.75rem;
  }
  .weather-add-box {
    margin-bottom: 0.5em;
  }
}/*# sourceMappingURL=style.css.map */