* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	font-family: 'Barlow', sans-serif;
	background-color: #f6f2e9;
	// background-color: #0b1b24e7;
}

.wrapper {
	display: flex;
	// justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: auto 1em;
	padding: 1em;
	width: 100%;
	max-width: 400px;
	min-height: 560px;
	max-height: 700px;
	font-size: 3rem;
	color: white;
	color: #000;
	// background-color: #031926;
	background-color: #f4e9cd;

	// border: .05em solid white;
	border-radius: 0.5em;
	box-shadow: 0 0 0.5em grey;
}
.error {
	margin-bottom: 1em;
	color: #593333;
}
.weather-panel {
	display: flex;
	// justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 0 1em;
	font-size: 1.5rem;

	&-appname {
		font-size: 1.5rem;
		margin-bottom: 2em;
	}
	&-search {
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin-bottom: 1em;
		padding-top: 1em;
		width: 100%;

		&-input {
			width: 70%;
			color: white;
			color: #000;
			font-size: 1.4rem;
			background: none;
			border: none;
			// border-bottom: 0.05em solid grey;
		}
	}
	&-btn {
		border: none;
		background: none;
		color: white;
		color: #000;
		cursor: pointer;
	}
	&-city {
		font-size: 1.5rem;
		//font-size: 2.5rem;
		margin-bottom: 0.5em;
	}
	&-temperature {
		font-size: 5rem;
		//font-size: 8rem;
		margin-bottom: 0.1em;
	}
	&-img {
		margin: 1em 1em 4em;

		img {
			height: 6em;
		}
	}
}
.weather-adds {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	font-size: 2rem;

	&-box {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 1em;
		margin-bottom: 0.2em;
	}
	&-heading {
		font-size: 1.2rem;
	}
}
@media (min-width: 481px) {
	.weather-panel {
		font-size: 2rem;
        &-appname {
			font-size: 1.8rem;
		}
		&-city {
			font-size: 2.5rem;
			margin-bottom: 1em;
		}
		&-temperature {
			font-size: 7rem;
		}
		&-search {
			&-input {
				font-size: 1.6rem;
			}
		}
        &-img {
            margin: 1em;
    
            img {
                height: 8em;
            }
        }
        

	}
    .weather-adds {
        &-heading {
            font-size: 1.6rem;
        }
        &-box {
            margin-bottom: 0.5em;
        }
    }
   
}
