:root {
	--background-color: #f6f2e9;
	--app-color: #fff;
	--main-color: #000;
	--box-shadow: #808080;
	--error-color: #593333;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100vh;
	font-family: 'Barlow', sans-serif;
	background-color: var(--background-color);
	// background-color: #0b1b24e7;
}
.light-icon,
.dark-icon,
.weather-panel-sun-rise-icon,
.weather-panel-sun-set-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 0.25em;
	height: 0.8em;
	width: 0.8em;
}
.wrapper {
	margin: 0.5em;
	margin-top: 2.5em;
	padding: 1em;
	width: 90%;
	max-width: 400px;
	min-height: 550px;
	height: 700px;
	max-height: 700px;
	font-size: 3rem;
	color: var(--main-color);
	background-color: var(--app-color);
	border-radius: 0.5em;
	box-shadow: 0 0 0.5em var(--box-shadow);
}
.error {
	margin-bottom: 1em;
	color: var(--error-color);
}
.weather-panel {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	font-size: 1.5rem;

	&-main {
		display: flex;
		justify-content: space-between;
		align-items: start;
		flex-direction: row;
		width: 100%;
		// height: 100%;

		&-appname {
			display: flex;
			justify-content: center;
			// width: 50%;
			font-size: 1.5rem;
		}
		&-toggle {
			display: flex;
			justify-content: center;
			align-items: center;
			padding-left: 1em;
			// width: 50%;

			&-btn {
				position: relative;
				padding: 0.1em 2em;
				width: 1em;
				height: 1.5em;
				background: none;
				border: none;
				border: 0.1em solid var(--main-color);
				border-radius: 1em;
				cursor: pointer;

				&-circle {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-150%, -50%);
					margin: 0;
					padding: 0.5em;
					width: 1em;
					height: 1em;
					border-radius: 50%;
					background-color: var(--main-color);
					transition: left 0.3s;
				}
			}
		}
	}
	&-search {
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin-bottom: 0.5em;
		padding-top: 1em;
		width: 100%;

		&-input {
			width: 70%;
			color: var(--main-color);
			font-size: 1.4rem;
			background: none;
			border: none;
		}
	}
	&-btn {
		border: none;
		background: none;
		color: var(--main-color);
		cursor: pointer;
		padding: 1em;
	}
	&-dateTime {
		font-size: 1.5rem;
		margin-bottom: 0.5em;
	}
	&-city {
		font-size: 2rem;
		margin-bottom: 0.5em;
	}
	&-temperature {
		font-size: 3rem;
		margin-bottom: 0.1em;
	}
	&-img {
		margin: 1em;

		&-pic {
			height: 4em;
		}
	}
	&-sun {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 1em;
		font-size: 1.3rem;
		width: 100%;
		height: 100%;

		&-rise {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-right: 1em;
			&-icon {
				margin-right: 0.5em;
			}
		}
		&-set {
			display: flex;
			justify-content: center;
			align-items: center;
			display: flex;
			margin-left: 1em;
			&-icon {
				margin-right: 0.5em;
			}
		}
	}
	&-forecast {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 1em;
		&-info {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			margin: 0 0.5em;
			&-hour {
				margin-bottom: 0.5em;
				font-size: 0.7em;
			}
			&-temp {
				margin-bottom: 0.5em;
				font-size: 1em;
			}
			&-img {
				&-pic {
					height: 1.5em;
				}
			}
		}
	}
}
.active {
	transition: left 0.3s;
	animation: toggleAnimDark 0.3s forwards;
}
.non-active {
	transition: left 0.3s;
	animation: toggleAnimLight 0.3s forwards;
}

@keyframes toggleAnimDark {
	from {
		left: 50%;
	}
	to {
		left: 100%;
	}
}
@keyframes toggleAnimLight {
	from {
		left: 100%;
	}
	to {
		left: 50%;
	}
}
.weather-add {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	font-size: 2rem;

	&-box {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 1em;
		margin-bottom: 0.2em;
	}
	&-heading {
		font-size: 1.2rem;
	}
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: auto;
	padding: 1em;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 5em;
	font-size: 1.2rem;
	color: var(--main-color);
	background-color: var(--app-color);
	a {
		color: var(--main-color);
	}
	p {
		margin-bottom: 0.5em;
	}
}
@media (min-width: 481px) and (min-height: 768px) {
	.wrapper {
		margin-top: auto;
	}
	.weather-panel {
		font-size: 2rem;
		&-main {
			&-appname {
				font-size: 1.8rem;
			}
		}
		&-city {
			font-size: 2.5rem;
			margin-bottom: 1em;
		}
		&-temperature {
			font-size: 4rem;
		}
		&-search {
			&-input {
				font-size: 1.6rem;
			}
		}
		&-img {
			&-pic {
				height: 5em;
			}
		}
	}
	.weather-add {
		&-heading {
			font-size: 1.6rem;
		}
		&-box {
			margin-bottom: 0.5em;
		}
	}
}
